/* .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    border-bottom: 1px solid #f9f9f9;
}
.header__logo{
    object-fit: contain;
    height: 40px;
}
.header__icon{
    padding: 20px;
} */
body {
  background-color: #C57B57;
}
.Header {
    display: flex;
    justify-content: space-between;
    grid-template-areas: "logo-nav";
    border-bottom: 1px black;

}
.Nav {
    grid-area: nav;
    display: grid;
    grid-template-columns: repeat(4,auto);
    align-items: center;
    justify-items: center;
}

.profile {
    object-fit: contain;
    height: 40px;
    justify-content: center;
}
.header {
  padding: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #041F1E;
  color: #E3E36A;
}
.header h1 {
  display: inline-block;
  font-size: 48px;
}

.header h1 .BlindDate {
  color: #CBFF8C;
}

.header nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
}

.header nav ul {
  list-style-type: none;
}

.header nav ul li {
  display: inline-block;
  margin-left: 25px;
}

h2 {
  color: #F7DBA7;
  justify-content: center;
  font-size: 50px;
  display: flex;
}

p {
  color: #F7DBA7;
  justify-content: center;
  font-size: 35px;
  display: flex;
}

.profile {
  background-color: transparent;
  /* object-fit: contain; */
  height: 40px;
  justify-content: center;
  display: flex;
}

#imgcontainer {
  justify-content: center;
  display: flex;
}